/* --- Brandon fonts --- */

/* 

Brandon_bld.otf --> Bold
Brandon_blk.otf --> Black Bold
Brandon_med.otf --> Medium
Brandon_reg_it.otf --> Regular Italic
Brandon_reg.otf --> Regular

*/

@font-face {
    font-family: BrandonBold;
    src: url(../fonts/Brandon/Brandon_bld.otf);
}

@font-face {
    font-family: BrandonBlackBold;
    src: url(../fonts/Brandon/Brandon_blk.otf);
}

@font-face {
    font-family: BrandonMedium;
    src: url(../fonts/Brandon/Brandon_med.otf);
}

@font-face {
    font-family: BrandonRegularItalic;
    src: url(../fonts/Brandon/Brandon_reg_it.otf);
}

@font-face {
    font-family: BrandonRegular;
    src: url(../fonts/Brandon/Brandon_reg.otf);
}

.blink {
    animation: blink 0.5s infinite;
}
@keyframes blink{
    to { opacity: .0; }
}
.flex {
    display: inline-flex;
}

.logo-img {
    height: auto;
    width: 250px;  
}

.padding-120 {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
}

.padding-100 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.shadow-main {
    filter: drop-shadow(3px 3px 70px #0083ff);
    height: 90px;
    width: auto;
}

.video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 10;
}

.min-height {
    height: 350px;
    padding-left: 35px;
    padding-right: 35px;
}

.btn-contact {
    /* background-color: #2a76cc; */
    background-color: #0083ff; 
    font-weight: 500;
}

.main-margin {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

video::-webkit-media-controls {
    display: none;
}

.deco {
 height: 45px;
}

.font-custom {
    font-weight: 500;
}

.video-mask {
    border-radius: 15px;
    overflow: hidden;  
    margin-bottom: 20px;
    box-shadow: 3px 8px 10px 3px rgba(41,41,41,.4);
}