---
title: "about-us.html"
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="crumina-grid">

<!-- Preloader -->

{% include loader.html %}

<!-- ... end Preloader -->

<!-- Header -->

{% include header.html %}

<!-- ... End Header -->

<div class="content-wrapper">

	<!-- Main Slider -->

	{% include mainSlider.html %}

	<!-- ... end Main Slider -->

	<!-- Info Boxes -->

	{% include infobox.html %}

	<!-- ... end Info Boxes -->


	<!-- Slider with vertical tabs -->

	<!-- {% include verticalslider.html %} -->

	{% include deviceart3.html %}

	<!-- ... Slider with vertical tabs -->

	<!-- Video -->

	<!-- {% include videolayout.html %} -->

	<!-- ... end Video -->

	<!-- Clients Block -->

	{% include ourclients.html %}

	<!-- ... end Clients Block -->

	<!-- Info Boxes -->

	{% include appinfo.html %}

	<!-- ... Info Boxes -->

	<!-- Counters -->
	
	{% include counter.html %}

	<!-- ... end  Counters -->

	<!-- FAQS Slider -->

	{% include aboutapp.html %}

	<!-- ... end FAQS Slider -->

	<!-- Info Boxes -->

	<!-- {% include appimageslide.html %} -->

	<!-- ... end Info Boxes -->


	<!-- Pricing Tables -->

	{% include pricing2.html %}

	<!-- ... end Pricing Tables -->


	<!-- Testimonials -->

	{% include reviews2.html %}

	<!-- ... end Testimonials -->


	<!-- Subscribe Form -->

	{% include subscribe.html %}

	<!-- End Subscribe Form -->


	<!-- Promo Block -->

	<!-- {% include download.html %} -->

	<!-- ... end Promo Block -->

</div>

<!-- start footer -->

{% include footer.html %}

<!-- end footer -->

<!-- Send Message Popup -->

{% include messagePopup.html %}

<!-- Send Message Popup -->

<!-- Search Popup -->

{% include searchPopup.html %}

<!-- ... end Search Popup -->


<!-- Used SVG-icons -->

{% include svgIcons.html %}

<!-- ... end Used SVG-icons -->


<!-- jQuery first, then Other JS. -->

{% include scripts.html %}

<!-- jQuery-scripts for Template -->


</body>
</html>

