<section class="padding-100 align-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h6 class="heading-sup-title">About Us</h6>
                    <h2 class="heading-title">Years</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container align-center">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-1 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h2>2019</h2>
                                <h7>Founded</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-2 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h2>12</h2>
                                <h7>Employees</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-3 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h2>25,000</h2>
                                <h7>Booking Dispatched</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-2 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h2>1800</h2>
                                <h7>Number of Drivers</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-3 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h2>10</h2>
                                <h7>Taxi app launched</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-1 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h2>100%</h2>
                                <h7>Customer Satisfaction</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>