<section class="background-contain bg-17 padding-100 align-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h2 class="heading-title">About Us</h2>
                    <h6 class="heading-sup-title">Voila Cab’s is designed and programmed by
                        industries Young Turk who believe in a vision to revolutionize taxi
                        dispatching by delivering innovation and value for our customers.</h6>`
                </div>
            </div>
        </div>
    </div>
    <div class="container align-center">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-1 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h3 class="c-primary">2019</h3>
                                <h7>Founded</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-2 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h3 class="c-primary">12</h3>
                                <h7>Employees</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-3 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h3 class="c-primary">25,000</h3>
                                <h7>Booking Dispatched</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-2 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h3 class="c-primary">1800</h3>
                                <h7>Number of Drivers</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="circle-3" style="margin-left: auto;">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h3 class="c-primary">10</h3>
                                <h7>Taxi app launched</h7>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <center>
                    <div class="circle-1 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h3 class="c-primary">90%</h3>
                                <h7>Repeated Clients</h7>
                            </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="circle-1 align-center">
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                            <div class="circle__content">
                                <h3 class="c-primary">100%</h3>
                                <h7>Customer Satisfaction</h7>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>