<section class="crumina-module crumina-module-slider pt100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 mb30">
					<div class="crumina-module crumina-heading">
						<h6 class="heading-sup-title"> Why Voila Cabs? Why us? </h6>
						<h2 class="heading-title"> Six Reason's Why Biggest Enterprise Trust Voila Cabs.  </h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="swiper-container navigation-bottom" data-effect="fade">
						<div class="slider-slides">
							<a href="#" class="slides-item">
								1
							</a>

							<a href="#" class="slides-item">
								2
							</a>

							<a href="#" class="slides-item">
								3
							</a>

							<a href="#" class="slides-item">
								4
							</a>

							<a href="#" class="slides-item">
								5
							</a>

							<a href="#" class="slides-item">
								6
							</a>
						</div>
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
									<div class="slider-faqs-thumb">
										<img class="utouch-icon" src="/svg-icons/dial.svg" alt="image">
									</div>
								</div>

								<div class="col-lg-8 col-md-12 col-sm-12" data-swiper-parallax="-300">
									<h5 class="slider-faqs-title"> Designed for very high speed and scalablity. </h5>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<p> Voila Cab's is programmed with microservices architecture, API’s calls are spited into small unit’s hence it’s highly scalable and can serve hundreds  of API request every second’s.

											</p>
											<p> Platform is architected with multiple database’s including famous database’s  like Mysql and Mongo DB deployed in cluster’s and Multimaster replication’s   </p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<p> We take care of entire system and assure you 24/7 high speed avaibality with constant data backed up in multiple zones.  </p>
											<ul class="list list--standard">
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#"> Faster API response time assured. </a>
												</li>
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#"> High avaibality database’s using cluster’s. </a>
												</li>
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#"> Benchmarked  Mobile App's Performance. </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
									<div class="slider-faqs-thumb">
										<img class="utouch-icon" src="/svg-icons/fingerprint.svg" alt="image">
									</div>
								</div>

								<div class="col-lg-8 col-md-12 col-sm-12" data-swiper-parallax="-300">
									<h5 class="slider-faqs-title"> Peace of Mind </h5>
									<p>Seemless processes and high end technology reduces friction to help focus on growth and quality
									</p>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<ul class="list list--standard">
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#">No worries for production server's. </a>
												</li>
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#"> No worries for database backup's and scalablity. </a>
												</li>
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#"> Dedicated support for bug's and new feature enhancements. </a>
												</li>
											</ul>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<ul class="list list--standard">
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#"> Easy switching from any system's to Voila Cab's. </a>
												</li>
												<li>
													<svg class="utouch-icon utouch-icon-correct-symbol-1">
														<use xlink:href="#utouch-icon-correct-symbol-1"></use>
													</svg>
													<a href="#"> 100% safe and secure. </a>
												</li>
												
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
									<div class="slider-faqs-thumb">
										<img class="utouch-icon" src="/svg-icons/devices.svg" alt="image">
									</div>
								</div>

								<div class="col-lg-8 col-md-8 col-sm-12" data-swiper-parallax="-100">
									<h5 class="slider-faqs-title"> Feature Rich Mobile Apps & Website's </h5>
									<p> A Reliable and Highly Innovative Mobile Apps for the Global Taxi Community.
									</p>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="crumina-module crumina-info-box info-box--standard">
												<div class="info-box-image display-flex">
													<svg class="utouch-icon utouch-icon-checked">
														<use xlink:href="#utouch-icon-checked"></use>
													</svg>
													<h6 class="info-box-title"> Passenger App </h6>
												</div>
												<p class="info-box-text"> Our white labelled passenger apps ( iOS / Android ) are developed to suit every fleet. Offer your customers a fast, user friendly, intuitive booking experience.
												</p>

												<p class="info-box-text">Improved automation of your business.</p>
												<p class="info-box-text">Improved consumer relationships through functionality.</p>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="crumina-module crumina-info-box info-box--standard">
												<div class="info-box-image display-flex">
													<svg class="utouch-icon utouch-icon-checked">
														<use xlink:href="#utouch-icon-checked"></use>
													</svg>
													<h6 class="info-box-title">Driver App</h6>
												</div>
												<p class="info-box-text">Single app that suites all drivers need to get a job done right.</p>
												
												<div class="info-box-image display-flex">
														<svg class="utouch-icon utouch-icon-checked">
															<use xlink:href="#utouch-icon-checked"></use>
														</svg>
														<h6 class="info-box-title"> Website Booking Engine</h6>
													</div>

													<p class="info-box-text">Fully integrated, branded online booking engine, easily adapted to your existing site or as a stand-alone webpage.</p>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
									<div class="slider-faqs-thumb">
										<img class="utouch-icon" src="/svg-icons/payment-method.svg" alt="image">
									</div>
								</div>

								<div class="col-lg-8 col-md-12 col-sm-12" data-swiper-parallax="-300">
									<h5 class="slider-faqs-title">War Room - A reliable and innovative cloud based dispatch system for the global taxi community </h5>
									<p class="weight-bold">Simplifying Dispatch with all data available realtime to dispatch job effectively.
									</p>
									<p>Great features like Real-time updates for booking’s, Meter by meter driver tracking, Zone queue’s, Real-time Surge, Notification and Messages  to make the system unique.
									</p>

									<p>The possibility of managing taxis, drivers and passengers in a single interface
											simplifies the entire dispatch process.</p>
									<a href="03_products.html" class="btn btn-border btn--with-shadow c-secondary">
										Learn More
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
									<div class="slider-faqs-thumb">
										<img class="utouch-icon" src="/svg-icons/chat1.svg" alt="image">
									</div>
								</div>

								<div class="col-lg-8 col-md-12 col-sm-12" data-swiper-parallax="-300">
									<h5 class="slider-faqs-title">Track My Ride										</h5>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<p> Real time ETA to rider's and also track entire ride without installing App and also in-App as well.  </p>
											<p> Improved customer experience through visibility and transparency
											</p>
											
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											 
											<div class="play-with-title">
												<a href="https://www.youtube.com/watch?v=wnJ6LuUFpMo" class="video-control js-popup-iframe">
													<img src="/img/play.png" alt="play">
												</a>
												<h6 class="play-title">Watch our App's in action.</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="col-lg-4 col-md-12 col-sm-12" data-swiper-parallax="-100">
									<div class="slider-faqs-thumb">
										<img class="utouch-icon" src="/svg-icons/tap.svg" alt="image">
									</div>
								</div>

								<div class="col-lg-8 col-md-12 col-sm-12" data-swiper-parallax="-300">
									<h5 class="slider-faqs-title"> Hazzle free any time switching from SaaS to 100% whitelabel. </h5>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<p> This is where we differ from other vendor's in market. We dont bound you with any kind of long term contracts on SaaS. Any time you can switch over from SaaS to 100% whitelabel solution.   	</p>
											<p> Free support with installation and transferring your data on your server.</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<p>  HAVE WE CONVINCED YOU YET?   </p>

											<p>We have evolved to be the far superiour taxi dispatch software over time and our dedicated enginnering team is constantly improving voilacab's with new exciting features.   </p>
											<p> We hope you will join us for a ride!  </p>
											<a href="03_products.html" class="btn btn-border btn--with-shadow c-secondary">
													TRY IT FOR FREE 14 DAYS
												</a>
											
										</div>
									</div>
								</div>

							</div>

						</div>

						<!--Prev next buttons-->

						<div class="btn-slider-wrap navigation-left-bottom">

							<div class="btn-prev">
								<svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
									<use xlink:href="#utouch-icon-arrow-left-1"></use>
								</svg>
								<svg class="utouch-icon utouch-icon-arrow-left1">
									<use xlink:href="#utouch-icon-arrow-left1"></use>
								</svg>
							</div>

							<div class="btn-next">
								<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
									<use xlink:href="#utouch-icon-arrow-right-1"></use>
								</svg>
								<svg class="utouch-icon utouch-icon-arrow-right1">
									<use xlink:href="#utouch-icon-arrow-right1"></use>
								</svg>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>