<section class="crumina-module crumina-module-slider bg-blue-lighteen background-contain bg-11 medium-padding100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading">
						<h6 class="heading-sup-title">Screenshots</h6>
						<h2 class="heading-title">Beautiful interface</h2>
						<p class="heading-text">Claritas est etiam processus dynamicus, qui sequitur mutationem
							consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
							anteposuerit litterarum formas humanitatis per est usus legentis in iis qui facit eorum
							claritatem.
						</p>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="crumina-module crumina-info-box info-box--standard">
								<div class="info-box-image display-flex">
									<svg class="utouch-icon utouch-icon-checked">
										<use xlink:href="#utouch-icon-checked"></use>
									</svg>
									<h6 class="info-box-title">Quick Settings</h6>
								</div>
								<p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui
									nunc nobis videntur parum clari.
								</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="crumina-module crumina-info-box info-box--standard">
								<div class="info-box-image display-flex">
									<svg class="utouch-icon utouch-icon-checked">
										<use xlink:href="#utouch-icon-checked"></use>
									</svg>
									<h6 class="info-box-title">Looks Perfect</h6>
								</div>
								<p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-5 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-xs-12">
					<div class="swiper-container pagination-bottom slider-tripple-right-image" data-show-items="1" data-effect="coverflow" data-centered-slider="false" data-stretch="170" data-depth="195">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="/img/img-slide1.png" alt="slide">
							</div>
							<div class="swiper-slide">
								<img src="/img/img-slide1.png" alt="slide">
							</div>
							<div class="swiper-slide">
								<img src="/img/img-slide1.png" alt="slide">
							</div>
						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</section>