<section class="bg-9 background-contain medium-padding120">
		<div class="container">
			<div class="row">
				<div class="display-flex info-boxes">
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-info-box info-box--standard-round icon-right negative-margin-right150">
							<div class="info-box-image">
								<img src="/img/success.png" alt="success" class="utouch-icon">
							</div>
							<div class="info-box-content">
								<h5 class="info-box-title">100% Success booking rate.</h5>
								<p class="info-box-text">We make sure that all bookings are dispatched successfully under large traffic.
										We won’t settle for errors that take down your app.
								</p>
							</div>
						</div>

						<div class="crumina-module crumina-info-box info-box--standard-round icon-right negative-margin-right150">
							<div class="info-box-image">
								<img src="/img/shield.png" alt="chat" class="utouch-icon">
							</div>
							<div class="info-box-content">
								<h5 class="info-box-title">Security first									</h5>
								<p class="info-box-text">The largest enterprises trust Voila Cabs with their data. We’re GDPR Privacy
										Shield compliant.	</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 align-center">
						<img class="particular-image" src="/img/voila.png" alt="image">
						<a href="03_products.html" class="btn btn--red btn--with-shadow">
							LEARN MORE
						</a>
					</div>

					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-info-box info-box--standard-round negative-margin-left150">
							<div class="info-box-image">
								<img src="/img/refund.png" alt="chat" class="utouch-icon">
							</div>
							<div class="info-box-content">
								<h5 class="info-box-title">Auto Surge Pricing</h5>
								<p class="info-box-text">Unique algorithm designed to surge the price automatically considering driver’s availability
										for certain areas. (Demand vs Supply Management).
								</p>
							</div>
						</div>

						<div class="crumina-module crumina-info-box info-box--standard-round negative-margin-left150">
							<div class="info-box-image">
								<img src="/img/route.png" alt="chat" class="utouch-icon">
							</div>
							<div class="info-box-content">
								<h5 class="info-box-title">Realtime Tracking with ETA </h5>
								<p class="info-box-text"> Designed for efficient tracking using Kalman Filters and Gyro Api's with all ETA's in realtime to get best experience to Rider's.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>