<section class="background-contain bg-17 medium-padding120">
    <div class="container">
        <div class="row">
            <div class="align-center col-lg-12 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h2 class="heading-title">Online Booking</h2>
                </div>

                <img src="/img/booking.png" alt="">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-left">
                    <div class="row">
                        <div class="info-boxes">
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="/img/conversation.png" alt="library">
                                        <h6 class="info-box-title">Attract corporate customers</h6>
                                    </div>
                                    <p class="info-box-text">acquire new contracts and increase your online presence with new booking platforms.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="/img/java-script.png" alt="library">
                                        <h6 class="info-box-title">Website build using TypeScript</h6>
                                    </div>
                                    <p class="info-box-text">with Powerful Angular 6.0 and TypeScript which gives great speed to a website.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="/img/api.png" alt="library">
                                        <h6 class="info-box-title">Extremely reliable and stable uptime</h6>
                                    </div>
                                    <p class="info-box-text">Backed up with Powerfull API’s using Microservices and load balancers to make sure website is up
                                        all the time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>