<ul class="curriculum-list sorting-item dev smm">
    <li style="display: flex;">
        <div>
            <div class="lection">
                <a href="#" class="title"><h5>Software Developer - Development</h5></a>
            </div>
            <div class="lection">
                <svg class="utouch-icon utouch-icon-placeholder-3"><use xlink:href="#utouch-icon-placeholder-3"></use></svg>
                <a href="#" class="h6 title">Sheffield, United Kingdom</a>
            </div>
            <div class="lection-time">
                <a href="#" class="">Required Skills: 2 years minimum in a Development Role working with PHP and LAMP</a>
            </div>

        </div>

        <div class="lection-time">
            <a href="#" class="btn btn-x-large btn--primary btn--with-shadow">
                Apply Now
            </a>
            <a href="#" class="btn btn-x-large btn--green-light">
                Info
            </a>
        </div>
    </li>
</ul>