<section class="crumina-module crumina-module-slider bg-blue-lighteen medium-padding100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">Short Story About Our Company</h2>
					</div>
				</div>

				<div class="col-lg-12 col-sm-12 col-md-12">
					<div class="swiper-container pagination-bottom" data-show-items="4">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-primary-color">
										<img class="utouch-icon" src="svg/flag.svg" alt="flag">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow">
											<use xlink:href="#utouch-icon-dot-arrow"></use>
										</svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-primary">2013</h6>
										<a href="#" class="h6 info-box-title">Claritas est processus</a>
										<p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation
											qui nunc nobis videntur parum clari.
										</p>
									</div>

								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-orange">
										<img class="utouch-icon" src="svg/settings.svg" alt="settings">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow">
											<use xlink:href="#utouch-icon-dot-arrow"></use>
										</svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-orange">2015</h6>
										<a href="#" class="h6 info-box-title">Typi non claritatem</a>
										<p class="info-box-text">Mirum est notare quam littera gothica, quam nunc putamus
											parum claram, anteposuerit lectores legere me lius quod ii legunt.
										</p>
									</div>

								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-red">
										<img class="utouch-icon" src="svg/team.svg" alt="team">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow">
											<use xlink:href="#utouch-icon-dot-arrow"></use>
										</svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-red">2016</h6>
										<a href="#" class="h6 info-box-title">Eodem modo typi</a>
										<p class="info-box-text">Investigationes demonstraverunt lectores legere me lius quod.
										</p>
									</div>

								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-green">
										<img class="utouch-icon" src="svg/rocket-launch.svg" alt="rocket">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow">
											<use xlink:href="#utouch-icon-dot-arrow"></use>
										</svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-green">2017</h6>
										<a href="#" class="h6 info-box-title">Duis autem vel eum</a>
										<p class="info-box-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation
											ullamcorper suscipit lobortis nisl ut aliquip.
										</p>
									</div>

								</div>
							</div>
						</div>

						<!--Prev next buttons-->

						<div class="btn-slider-wrap navigation-center-bottom">

							<div class="btn-prev">
								<svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
									<use xlink:href="#utouch-icon-arrow-left-1"></use>
								</svg>
								<svg class="utouch-icon utouch-icon-arrow-left1">
									<use xlink:href="#utouch-icon-arrow-left1"></use>
								</svg>
							</div>

							<div class="btn-next">
								<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
									<use xlink:href="#utouch-icon-arrow-right-1"></use>
								</svg>
								<svg class="utouch-icon utouch-icon-arrow-right1">
									<use xlink:href="#utouch-icon-arrow-right1"></use>
								</svg>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>