<section class="crumina-module medium-padding100 crumina-module-slider">
		<div class="container">
			<!-- <div class="row"> -->
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">Short Story About Our Company</h2>
						<h6 class="heading-sup-title">From the seed of an idea in 2106, to an innovative technology company with a global footprint - here’s a few of the milestones along the way.</h6>
					</div>
				</div>			  

				<!-- Horizontal Timeline -->
				<!-- <div class="col-lg-12 col-sm-12 col-md-12"> -->
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="nav" style="display:inline-block;width:100%;overflow:hidden;">
								<ul class="crumina-module-slider timeline timeline-horizontal">
									<li class="timeline-item">
										<div class="timeline-badge primary"></div>
										<div class="timeline-panel">
											<div class="swiper-slide">
												<div class="crumina-module crumina-info-box info-box--time-line">
			
														<img class="utouch-icon" src="/img/idea.png" alt="flag">
				
													<div class="info-box-content">
														<h6 class="timeline-year">2016</h6>
														<p class="info-box-text">Idea Formed, First Milestone Launched on Market place’s as script. 
														</p>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="timeline-item">
										<div class="timeline-badge primary"></div>
										<div class="timeline-panel">
											<div class="swiper-slide">
												<div class="crumina-module crumina-info-box info-box--time-line">
				
														<img class="utouch-icon" src="/img/idea.png" alt="flag">
				
													<div class="info-box-content">
														<h6 class="timeline-year">2017</h6>
														<p class="info-box-text">Moved from Voila Cabs to Voila SaaS to Pivot from B2C to B2B. 
														</p>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="timeline-item">
										<div class="timeline-badge primary"></div>
										<div class="timeline-panel">
											<div class="swiper-slide">
												<div class="crumina-module crumina-info-box info-box--time-line">
				
														<img class="utouch-icon" src="/img/idea.png" alt="flag">
				
													<div class="info-box-content">
														<h6 class="timeline-year">2018</h6>
														<p class="info-box-text">Implimented Micro service architecture along with scalable infrastructure.
														</p>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="timeline-item">
										<div class="timeline-badge primary"></div>
										<div class="timeline-panel">
											<div class="swiper-slide">
												<div class="crumina-module crumina-info-box info-box--time-line">
				
													<!-- <div class="info-box-image bg-white-color"> -->
														<img class="utouch-icon" src="/img/idea.png" alt="flag">
													<!-- </div> -->
				
													<div class="info-box-content">
														<h6 class="timeline-year">2019</h6>
														<p class="info-box-text">Win biggest fleet size customer’s and supported with their bookings and backend office’s.
														</p>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="navigation-center-bottom">

								<div class="btn-prev" onclick="right()">
									<svg class="utouch-icon icon-hover utouch-icon-arrow-left-1"><use xlink:href="#utouch-icon-arrow-left-1"></use></svg>
									<svg class="utouch-icon utouch-icon-arrow-left1"><use xlink:href="#utouch-icon-arrow-left1"></use></svg>
								</div>

								<div class="btn-next" onclick="left()">
									<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
									<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
								</div>

							</div>
							<!-- </div> -->
							</div>
						<!-- <div class="col-md-2 shadow-main-1">
						</div> -->
					</div>
				</div>
			<!-- </div> -->
		</div>
	</section>