<section class="bg-blue-lighteen background-contain bg-11">
		<div class="container">
			<div class="row">
				<div class="counters">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item counter-item-colored">
							<div class="counter-numbers counter c-primary">
								<span data-speed="2000" data-refresh-interval="3" data-to="250000" data-from="2">250000+</span>+
							</div>
							<h5 class="counter-title">Line of codes</h5>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item counter-item-colored">
							<div class="counter-numbers counter c-orange-light">
								<span data-speed="2000" data-refresh-interval="3" data-to="50" data-from="2">50</span>+
							</div>
							<h5 class="counter-title">Apps Deployed</h5>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item counter-item-colored">
							<div class="counter-numbers counter c-red">
								<span data-speed="2000" data-refresh-interval="3" data-to="3" data-from="2">3</span>
								<div class="units">M+</div>
							</div>
							<h5 class="counter-title">Active users</h5>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item counter-item-colored">
							<div class="counter-numbers counter c-green">
								<span data-speed="2000" data-refresh-interval="3" data-to="8" data-from="2">8</span>
								<div class="units">M+</div>
							</div>
							<h5 class="counter-title">Download</h5>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-tripple-image">
						<img src="/img/225-336.png" alt="image">
						<img src="/img/418-552.png" alt="image">
						<img src="/img/337-453.png" alt="image">
					</div>
				</div>
			</div>
		</div>
	</section>