<section class="bg-secondary-color background-contain bg-10">

		<div class="container">
			<div class="row">
				<div class="counters">
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="3" data-to="6237" data-from="2">6237</span>
							</div>
							<h5 class="counter-title">Line of codes</h5>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="3" data-to="4000" data-from="2">4000</span>
							</div>
							<h5 class="counter-title">Solutions</h5>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="3" data-to="3" data-from="2">3</span>
								<div class="units">M+</div>
							</div>
							<h5 class="counter-title">Active users</h5>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="3" data-to="8" data-from="2">8</span>
								<div class="units">M+</div>
							</div>
							<h5 class="counter-title">Download</h5>
						</div>
					</div>

					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<h5 class="c-white">Utouch is an awesome app</h5>
						<p class="c-semitransparent-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy euismod.</p>
					</div>

				</div>
			</div>
		</div>

	</section>