<section class="bg-secondary-color background-contain bg-10">

		<div class="container">
			<div class="row">
				<div class="counters">
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="3" data-to="250000" data-from="2">250000</span>
								<div class="units"> +</div>
							</div>
							<h5 class="counter-title">Line of codes</h5>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="3" data-to="50" data-from="2">50</span>
								<div class="units"> +</div>
							</div>
							<h5 class="counter-title">Large Enterprises Apps Deployed</h5>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="3" data-to="3" data-from="2">3</span>
								<div class="units">M+</div>
							</div>
							<h5 class="counter-title">Active users</h5>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
						<div class="crumina-module crumina-counter-item">
							<div class="counter-numbers counter c-yellow">
								<span data-speed="2000" data-refresh-interval="1" data-to="8" data-from="1">8</span>
								<div class="units">M+</div>
							</div>
							<h5 class="counter-title">Download</h5>
						</div>
					</div>

					

				</div>
			</div>
		</div>

	</section>