<section class="medium-padding50">
    <div class="container align-center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12 mb30">
                <div class="crumina-module crumina-heading">
                    <h6 class="heading-sup-title">Screenshots</h6>
                    <h2 class="heading-title">Beautiful Design and Comfortable User Interface</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="conference-details">
                    <ul class="align-center conference-details-control tabs-with-line" role="tablist">

                        <li role="presentation" class="tab-control active">
                            <a href="#user" role="tab" data-toggle="tab" class="control-item">User</a>
                        </li>

                        <li role="presentation" class="tab-control">
                            <a href="#driver" onclick="tabFunction();" role="tab" data-toggle="tab" class="control-item">Driver</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="user">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <section class="medium-padding50 pd-sides-50 align-center">
                                    <div class="crumina-module crumina-module-slider slider--full-width">
                                        <div class="swiper-container pagination-bottom" data-show-items="5" data-centered-slider="true">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/Daily.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/user_app1.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/user-app2.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/user-app3.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/user-app4.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/user-app5.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/user-app6.png" alt="image">
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <!-- If we need pagination -->
                                            <div class="swiper-pagination"></div>
                                        </div>
                            
                                        <!--Prev next buttons-->
                            
                                        <div class="btn-prev">
                                            <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1"><use xlink:href="#utouch-icon-arrow-left-1"></use></svg>
                                            <svg class="utouch-icon utouch-icon-arrow-left1"><use xlink:href="#utouch-icon-arrow-left1"></use></svg>
                                        </div>
                            
                                        <div class="btn-next">
                                            <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                            <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                                        </div>
                            
                                    </div>
                                </section>
                                    
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade active" id="driver">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="driver-layout"`>
                                
                                <section class="medium-padding50 pd-sides-50 align-center">
                                    <div class="crumina-module crumina-module-slider slider--full-width">
                                        <div class="swiper-container pagination-bottom" data-show-items="5" data-centered-slider="true">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/iPhoneX.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/iPhoneX (1).png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/iPhoneX (2).png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/iPhoneX (3).png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/iPhoneX (4).png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="screenshot-item">
                                                        <img class="" src="/img/iPhoneX (5).png" alt="image">
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <!-- If we need pagination -->
                                            <div class="swiper-pagination"></div>
                                        </div>
                            
                                        <!--Prev next buttons-->
                            
                                        <div class="btn-prev">
                                            <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1"><use xlink:href="#utouch-icon-arrow-left-1"></use></svg>
                                            <svg class="utouch-icon utouch-icon-arrow-left1"><use xlink:href="#utouch-icon-arrow-left1"></use></svg>
                                        </div>
                            
                                        <div class="btn-next">
                                            <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                            <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                                        </div>
                            
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>