<section class="align-center bg-blue-lighteen medium-padding120">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading align-center">
						<h6 class="heading-sup-title">Screenshots</h6>
						<h2 class="heading-title">Beautiful Design and Comfortable User Interface</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="crumina-module crumina-screenshots">
			<div class="col-item">
				<div>
					<img src="/img/259-463-1.png" alt="screen">
					<div class="overlay-standard overlay--blue-dark"></div>
					<a href="img/portfolio1.png" class="expand js-zoom-image">
						<svg class="utouch-icon utouch-icon-expand"><use xlink:href="#utouch-icon-expand"></use></svg>
					</a>
				</div>
			</div>
			<div class="col-item">
				<div>
					<img src="/img/160-285.png" alt="screen">
					<div class="overlay-standard overlay--blue-dark"></div>
					<a href="img/portfolio2.png" class="expand js-zoom-image">
						<svg class="utouch-icon utouch-icon-expand"><use xlink:href="#utouch-icon-expand"></use></svg>
					</a>
				</div>
				<div>
					<img src="/img/240-425-1.png" alt="screen">
					<div class="overlay-standard overlay--blue-dark"></div>
					<a href="img/portfolio3.png" class="expand js-zoom-image">
						<svg class="utouch-icon utouch-icon-expand"><use xlink:href="#utouch-icon-expand"></use></svg>
					</a>
				</div>
			</div>
			<div class="col-item">
				<div>
					<img src="/img/360-639.png" alt="screen">
					<div class="overlay-standard overlay--blue-dark"></div>
					<a href="img/portfolio4.png" class="expand js-zoom-image">
						<svg class="utouch-icon utouch-icon-expand"><use xlink:href="#utouch-icon-expand"></use></svg>
					</a>
				</div>
			</div>
			<div class="col-item">
				<div>
					<img src="/img/240-425-2.png" alt="screen">
					<div class="overlay-standard overlay--blue-dark"></div>
					<a href="img/portfolio5.png" class="expand js-zoom-image">
						<svg class="utouch-icon utouch-icon-expand"><use xlink:href="#utouch-icon-expand"></use></svg>
					</a>
				</div>
				<div>
					<img src="/img/160-285-2.png" alt="screen">
					<div class="overlay-standard overlay--blue-dark"></div>
					<a href="img/portfolio6.png" class="expand js-zoom-image">
						<svg class="utouch-icon utouch-icon-expand"><use xlink:href="#utouch-icon-expand"></use></svg>
					</a>
				</div>
			</div>
			<div class="col-item">
				<div>
					<img src="/img/259-463-2.png" alt="screen">
					<div class="overlay-standard overlay--blue-dark"></div>
					<a href="img/portfolio7.png" class="expand js-zoom-image">
						<svg class="utouch-icon utouch-icon-expand"><use xlink:href="#utouch-icon-expand"></use></svg>
					</a>
				</div>
			</div>
		</div>

		<!-- <a href="#" class="btn btn--primary btn--with-shadow">
			Show All Screenshots
		</a> -->

	</section>