<section class="padding-120 align-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading">
						<h3 class="heading-title">Beautiful Design and Comfortable User Interface</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="crumina-module crumina-module-slider slider-with-device navigation-center-both-sides align-center">

			<div class="container">
					<div class="row">

							<div class="swiper-container" data-show-items="3" data-centered-slider="true">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="screenshot-item">
												<img src="img/Daily.png" alt="image">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="screenshot-item">
												<img src="/img/user_app1.png" alt="image">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="screenshot-item">
												<img src="/img/user-app2.png" alt="image">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="screenshot-item">
												<img src="/img/user-app3.png" alt="image">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="screenshot-item">
												<img src="/img/user-app4.png" alt="image">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="screenshot-item">
												<img src="/img/user-app5.png" alt="image">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="screenshot-item">
												<img src="/img/user-app6.png" alt="image">
											</div>
										</div>
									</div>

							</div>

					</div>
			</div>

			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!--Prev next buttons-->

			<div class="btn-prev with-bg rounded">
				<svg class="utouch-icon icon-hover utouch-icon-arrow-left-1"><use xlink:href="#utouch-icon-arrow-left-1"></use></svg>
				<svg class="utouch-icon utouch-icon-arrow-left1"><use xlink:href="#utouch-icon-arrow-left1"></use></svg>
			</div>

			<div class="btn-next with-bg rounded">
				<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
				<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
			</div>

		</div>

	</section>