<section class="bg-blue-lighteen medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h2 class="heading-title align-center">Dispatcher Panel</h2>
                </div>

                <img src="/img/device-vid-admin.png" alt="">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="info-boxes">
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="/img/convert.png" alt="library">
                                        <h6 class="info-box-title">Hazel free switching</h6>
                                    </div>
                                    <p class="info-box-text">One tap switching between manual and automatic dispatch finding nearby taxis available
                                        allows increased flexibility.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="/img/computer.png" alt="library">
                                        <h6 class="info-box-title">All in one platform</h6>
                                    </div>
                                    <p class="info-box-text">The possibility of managing taxis, drivers and passengers in a single interface
                                        simplifies the entire dispatch process.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="/img/cloud-computing.png" alt="library">
                                        <h6 class="info-box-title">Real-time updates</h6>
                                    </div>
                                    <p class="info-box-text">Real-time updates for booking’s, Meter by Meter Driver Tracking, Zone queue’s, Real-time Surge, Notification and Messages to make the system unique.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>