<section class="background-cover bg-blue-lighteen bg-12 align-center medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h2 class="heading-title">Download the <span class="c-primary">Utouch</span> Now!</h2>
                    <p class="heading-text">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                        lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum.
                    </p>
                </div>

                <a href="#" class="btn btn-market btn--with-shadow">
                    <svg class="utouch-icon utouch-icon-apple-logotype-1">
                        <use xlink:href="#utouch-icon-apple-logotype-1"></use>
                    </svg>
                    <div class="text">
                        <span class="sup-title">Download on the</span>
                        <span class="title">App Store</span>
                    </div>
                </a>

                <a href="#" class="btn btn-market btn--with-shadow">
                    <img class="utouch-icon" src="/svg-icons/google-play.svg" alt="google">
                    <div class="text">
                        <span class="sup-title">Download on the</span>
                        <span class="title">Google Play</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>