<div class="crumina-module container-full-width">
        <div class="navigation-center-both-sides" data-effect="fade">
    
            <!-- Additional required wrapper -->
            <div class="">
                <!-- Slides -->
                <div class="swiper-slide bg-main main-slider-bg-light">
    
                    <div class="container">
                        <div class="row table-cell">
    
                            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
    
                                <div class="slider-content align-center">
                                
                                    <!-- Map Background -->
                            
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                                    
                                    <!-- Content block div -->
                                    
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>