<section class="bg-main crumina-module crumina-module-subscribe-form">
    <div class="container">
        <div class="row">
            <div class="subscribe-form">
                <div class="subscribe-main-content">
                    <img class="subscribe-img" src="img/subscribe-img.png" alt="image">

                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Taxi Booking App Development</h2>
                            <h6>Want to Make Your Own Taxi Booking App like Uber?</h6>
                            <p class="heading-text">No one knows better than us when it comes to developing taxi booking app like Uber, Lyft, and Grab.
                            </p>
                        </div>

                        <form class="form-inline subscribe-form-js" method="post" action="import.php">
                            <input name="email" placeholder="Enter your email address" type="email">
                            <button class="btn btn--primary">Get Free Quote</button>
                        </form>
                    </div>

                </div>
                <div class="subscribe-layer"></div>
            </div>
        </div>
    </div>
</section>  