<section class="bg-blue-lighteen medium-padding100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--classic" data-mh="box--classic" style="height: 212.2px;">
						<div class="info-box-image">
							<img class="utouch-icon" src="/img/server_simple.png" alt="smartphone">
						</div>
						<div class="info-box-content">
							<h5 class="info-box-title">Massively scalable</h5>
							<p class="info-box-text">Coded with pure microservice architecture along with distributed database to deliver consistent performance under heavy traffic. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--classic" data-mh="box--classic" style="height: 212.2px;">
						<div class="info-box-image">
							<img class="utouch-icon" src="/img/browser.png" alt="smartphone">
						</div>
						<div class="info-box-content">
							<h5 class="info-box-title">Modern Technologies</h5>
							<p class="info-box-text">Coded with modern technologies and tool’s, with most common operations has been automated to
									make it a pleasure for a dispatcher to work with.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--classic" data-mh="box--classic" style="height: 212.2px;">
						<div class="info-box-image">
							<img class="utouch-icon" src="/img/server.png" alt="smartphone">
						</div>
						<div class="info-box-content">
							<h5 class="info-box-title">Fault-Tolerant</h5>
							<p class="info-box-text">Design to run in a cluster and node-balancer’s and in case of failures, other active clusters
									will take the load and deliver unmatched uptime.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--classic" data-mh="box--classic" style="height: 212.2px;">
						<div class="info-box-image">
							<img class="utouch-icon" src="/img/bar-chart.png" alt="alarm">
						</div>
						<div class="info-box-content">
							<h5 class="info-box-title">Very Modular</h5>
							<p class="info-box-text">Voila Cab’s code is extremely modular and easy to enhance and tailor its behavior.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--classic" data-mh="box--classic" style="height: 212.2px;">
						<div class="info-box-image">
							<img class="utouch-icon" src="/img/settings.png" alt="alarm">
						</div>
						<div class="info-box-content">
							<h5 class="info-box-title">Complete Solution</h5>
							<p class="info-box-text">Voila Cab’s comes with iOS, Android App’s for User & Driver, Progressive Web App for User
                                    and Shipped with Powerful Dispatcher Panel with great features that you will just love it.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--classic" data-mh="box--classic" style="height: 212.2px;">
						<div class="info-box-image">
							<img class="utouch-icon" src="/img/dollar-symbol.png" alt="alarm">
						</div>
						<div class="info-box-content">
							<h5 class="info-box-title">Pay as you go Pay</h5>
							<p class="info-box-text">It’s flexible. No contracts and no expensive investments needed. We don’t charge for in-active
                                    Driver’s, Just pay for Active Driver’s only.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>