<section class="padding-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 min-height">
					<div class="crumina-module crumina-info-box info-box--standard-hover">

						<div class="info-box-image">
							<img class="utouch-icon" src="/img/server_simple.png" alt="smartphone">
							<img class="cloud" src="/img/clouds8.png" alt="cloud">
						</div>

						<div class="info-box-content">
							<a href="#" class="h5 info-box-title">Massively scalable</a>
							<p class="info-box-text">Coded with pure microservice architecture along with distributed database to deliver consistent performance under heavy traffic. 
							</p>
						</div>

						<a href="#" class="btn-next">
							<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
								<use xlink:href="#utouch-icon-arrow-right-1"></use>
							</svg>
							<svg class="utouch-icon utouch-icon-arrow-right1">
								<use xlink:href="#utouch-icon-arrow-right1"></use>
							</svg>
						</a>

					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 min-height">
					<div class="crumina-module crumina-info-box info-box--standard-hover">

						<div class="info-box-image">
							<img class="utouch-icon" src="/img/browser.png" alt="smartphone">
							<img class="cloud" src="/img/clouds9.png" alt="cloud">
						</div>

						<div class="info-box-content">
							<a href="#" class="h5 info-box-title">Modern Technologies</a>
							<p class="info-box-text">Coded with modern technologies and tool’s, with most common operations has been automated to
									make it a pleasure for a dispatcher to work with.
							</p>
						</div>

						<a href="#" class="btn-next">
							<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
								<use xlink:href="#utouch-icon-arrow-right-1"></use>
							</svg>
							<svg class="utouch-icon utouch-icon-arrow-right1">
								<use xlink:href="#utouch-icon-arrow-right1"></use>
							</svg>
						</a>

					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 min-height">
					<div class="crumina-module crumina-info-box info-box--standard-hover">

						<div class="info-box-image">
							<img class="utouch-icon" src="/img/server.png" alt="smartphone">
							<img class="cloud" src="/img/clouds10.png" alt="cloud">
						</div>

						<div class="info-box-content">
							<a href="#" class="h5 info-box-title">Fault-Tolerant</a>
							<p class="info-box-text">Design to run in a cluster and node-balancer’s and in case of failures, other active clusters
									will take the load and deliver unmatched uptime.
							</p>
						</div>

						<a href="#" class="btn-next">
							<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
								<use xlink:href="#utouch-icon-arrow-right-1"></use>
							</svg>
							<svg class="utouch-icon utouch-icon-arrow-right1">
								<use xlink:href="#utouch-icon-arrow-right1"></use>
							</svg>
						</a>

					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 min-height">
						<div class="crumina-module crumina-info-box info-box--standard-hover">
	
							<div class="info-box-image">
								<img class="utouch-icon" src="/img/bar-chart.png" alt="smartphone">
								<img class="cloud" src="/img/clouds10.png" alt="cloud">
							</div>
	
							<div class="info-box-content">
								<a href="#" class="h5 info-box-title">Very Modular</a>
								<p class="info-box-text">Voila Cab’s code is extremely modular and easy to enhance and tailor its behavior.
								</p>
							</div>
	
							<a href="#" class="btn-next">
								<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
									<use xlink:href="#utouch-icon-arrow-right-1"></use>
								</svg>
								<svg class="utouch-icon utouch-icon-arrow-right1">
									<use xlink:href="#utouch-icon-arrow-right1"></use>
								</svg>
							</a>
	
						</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 min-height">
						<div class="crumina-module crumina-info-box info-box--standard-hover">
	
							<div class="info-box-image">
								<img class="utouch-icon" src="/img/settings.png" alt="smartphone">
								<img class="cloud" src="/img/clouds10.png" alt="cloud">
							</div>
	
							<div class="info-box-content">
								<a href="#" class="h5 info-box-title">Complete Solution</a>
								<p class="info-box-text">Voila Cab’s comes with iOS, Android App’s for User & Driver, Progressive Web App for User
										and Shipped with Powerful Dispatcher Panel with great features that you will just love it.
								</p>
							</div>
	
							<a href="#" class="btn-next">
								<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
									<use xlink:href="#utouch-icon-arrow-right-1"></use>
								</svg>
								<svg class="utouch-icon utouch-icon-arrow-right1">
									<use xlink:href="#utouch-icon-arrow-right1"></use>
								</svg>
							</a>
	
						</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 min-height">
						<div class="crumina-module crumina-info-box info-box--standard-hover">
	
							<div class="info-box-image">
								<img class="utouch-icon" src="/img/dollar-symbol.png" alt="smartphone">
								<img class="cloud" src="/img/clouds10.png" alt="cloud">
							</div>
	
							<div class="info-box-content">
								<a href="#" class="h5 info-box-title">Pay as you go Pay</a>
								<p class="info-box-text">It’s flexible. No contracts and no expensive investments needed. We don’t charge for in-active
										Driver’s, Just pay for Active Driver’s only.
								</p>
							</div>
	
							<a href="#" class="btn-next">
								<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
									<use xlink:href="#utouch-icon-arrow-right-1"></use>
								</svg>
								<svg class="utouch-icon utouch-icon-arrow-right1">
									<use xlink:href="#utouch-icon-arrow-right1"></use>
								</svg>
							</a>
	
						</div>
				</div>
			</div>
		</div>
	</section>