<section class="crumina-module mg-top-30 mg-bottom-30 crumina-clients background-contain bg-yellow">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a class="clients-item" href="#">
						<span class="clients-images">
								<!-- <h5>Krisp Cab</h5> -->
							<img src="/img/client1 2.png" class="radius-25" alt="logo">
							<img src="/img/client1 2.png" class="hover radius-25" alt="logo">
						</span>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a class="clients-item" href="#">
						<span class="clients-images">
								<!-- <h5>Vibe Direct</h5> -->
							<img src="/img/client2 2.png" class="radius-25" alt="logo">
							<img src="/img/client2 2.png" class="hover radius-25" alt="logo">
						</span>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a class="clients-item" href="#">
						<span class="clients-images">
								<!-- <h5>Gotug Cab</h5> -->
							<img src="/img/client3 2.png" class="radius-25" alt="logo">
							<img src="/img/client3 2.png" class="hover radius-25" alt="logo">
						</span>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a class="clients-item" href="#">
						<span class="clients-images">
								<!-- <h5>Data Trak</h5> -->
							<img src="/img/client4 2.png" class="radius-25" alt="logo">
							<img src="/img/client4 2.png" class="hover radius-25" alt="logo">
						</span>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a class="clients-item" href="#">
						<span class="clients-images">
								<!-- <h5>QBR Cab</h5> -->
							<img src="/img/client5 2.png" class="radius-25" alt="logo">
							<img src="/img/client5 2.png" class="hover radius-25" alt="logo">
						</span>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a class="clients-item" href="#">
						<span class="clients-images">
								<!-- <h5>U Cab</h5> -->
							<img src="/img/client6 2.png" class="radius-25" alt="logo">
							<img src="/img/client6 2.png" class="hover radius-25" alt="logo">
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>