<section class="background-contain bg-13 medium-padding100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12 mb60">
                <div class="crumina-module crumina-heading align-center">
                    <h6 class="heading-sup-title">Our Pricing Plans</h6>
                    <h2 class="heading-title">Choose the product that you really need!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pricing-wrap">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-standard">
                        <div class="main-pricing-content">
                            <h2 class="h1 rate">$<span class="price">0</span></h2>
                            <h5 class="pricing-title">Freebie Plan</h5>

                            <div class="pricing-line bg-green"></div>

                            <p class="pricing-description">Mirum est notare quam littera gothica, quam nunc putamus parum.</p>

                            <p class="sub-description">Ut wisi enim ad minim veniam, nostrud ullamcorper.</p>

                        </div>

                        <div class="bg-pricing-content bg-green">
                            <a href="15_pricing_tables.html" class="h6 title">Get trial version</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-standard main-plan">
                        <div class="main-pricing-content">
                            <h2 class="h1 rate">$<span class="price">49</span></h2>
                            <h5 class="pricing-title">Premium Plan</h5>

                            <div class="pricing-line bg-pamaranch"></div>

                            <p class="pricing-description">Claritas est etiam processus dynamicus, qui sequitur legere me lius quod.</p>

                            <ul class="pricing-tables-position">
                                <li class="position-item">
                                    Unlimited Free Update
                                </li>
                                <li class="position-item">
                                    Unlimited Disk Dreator
                                </li>
                                <li class="position-item">
                                    Unlimited User Support
                                </li>
                                <li class="position-item">
                                    Money Transfer System
                                </li>
                                <li class="position-item">
                                    Unlimited Support
                                </li>
                            </ul>

                            <p class="sub-description">Ut wisi enim ad minim veniam, nostrud ullamcorper.</p>
                        </div>

                        <div class="bg-pricing-content bg-pamaranch">
                            <a href="#" class="h6 title">Become a member</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-standard">
                        <div class="main-pricing-content">
                            <h2 class="h1 rate">$<span class="price">29</span></h2>
                            <h5 class="pricing-title">Business Plan</h5>

                            <div class="pricing-line bg-red"></div>

                            <p class="pricing-description">Investigationes demonstraverunt lectores legere.</p>

                            <ul class="pricing-tables-position">
                                <li class="position-item del">
                                    Unlimited Free Update
                                </li>
                                <li class="position-item">
                                    Unlimited Disk Dreator
                                </li>
                                <li class="position-item">
                                    Unlimited User Support
                                </li>
                                <li class="position-item del">
                                    Money Transfer System
                                </li>
                                <li class="position-item">
                                    Unlimited Support
                                </li>
                            </ul>

                        </div>

                        <div class="bg-pricing-content bg-red">
                            <a href="#" class="h6 title">Buy It Now!</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>