<section class="background-contain bg-13 padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12 mb60">
                <div class="crumina-module crumina-heading align-center">
                    <h6 class="heading-sup-title">Our Pricing Plans</h6>
                    <h2 class="heading-title">Choose the product that you really need!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pricing-wrap">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-standard">
                        <div class="main-pricing-content">
                            <h2 class="h1 rate">Freebie Plan</h2>
                            <h5 class="pricing-title">Try it for 14 days</h5>

                            <div class="pricing-line bg-green"></div>

                            <p class="pricing-description">Free access to all features with dedicated support</p>

                            <ul class="pricing-tables-position">
                                <li class="position-item">
                                    Try it Free for 14 days
                                </li>
                                <li class="position-item">
                                    Explore the whole system
                                </li>
                                <li class="position-item">
                                    No credit card required
                                </li>
                                <li class="position-item">
                                    Cancel anytime
                                </li>
                                <li class="position-item">
                                    Set up in minutes
                                </li>
                            </ul>

                            <!-- <p class="sub-description">Ut wisi enim ad minim veniam, nostrud ullamcorper.</p> -->

                        </div>

                        <div class="bg-pricing-content bg-green">
                            <a href="15_pricing_tables.html" class="h6 title">Get trial version</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-standard main-plan">
                        <div class="main-pricing-content">
                            <h2 class="h1 rate">$<span class="price">20</span></h2><h7>month / driver</h7>
                            <h5 class="pricing-title">Spark Plan</h5>

                            <div class="pricing-line bg-pamaranch"></div>

                            <p class="pricing-description">No annual payment, Flexible payment cycle</p>

                            <ul class="pricing-tables-position">
                                <li class="position-item">
                                    Monthly fee per vehicle
                                </li>
                                <li class="position-item">
                                    Unlimited rider profiles
                                </li>
                                <li class="position-item">
                                    No set up costs
                                </li>
                                <li class="position-item">
                                    No contracts
                                </li>
                                <li class="position-item">
                                    24/7 support
                                </li>
                            </ul>

                            <!-- <p class="sub-description">Ut wisi enim ad minim veniam, nostrud ullamcorper.</p> -->
                        </div>

                        <div class="bg-pricing-content bg-pamaranch">
                            <a href="#" class="h6 title">Subscribe Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-standard">
                        <div class="main-pricing-content">
                            <h2 class="h1 rate">Contact Us</h2>
                            <h5 class="pricing-title">Enterprise Plan</h5>

                            <div class="pricing-line bg-red"></div>

                            <p class="pricing-description">Dedicated Hosting, No noisy neighbourhood & Support</p>

                            <ul class="pricing-tables-position">
                                <li class="position-item">
                                    For large fleet sizes
                                </li>
                                <li class="position-item">
                                    Dedicated account manager
                                </li>
                                <li class="position-item">
                                    Hosting on dedicated/cloud server’s of your choice.
                                </li>
                                <li class="position-item">
                                    Customisation’s to meet your requirement’s.
                                </li>
                                <li class="position-item">
                                    Available Call-Center’s for dispatch.
                                </li>
                            </ul>

                        </div>

                        <div class="bg-pricing-content bg-red">
                            <a href="#" class="h6 title">Contact Us</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>