<section class="padding-120 crumina-pricings">
		<div class="container">
			<div class="row mb60">
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 align-center">
					<div class="crumina-module crumina-heading">
						<h2 class="heading-title">Our Pricing Plans</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="pricing-wrap">
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-pricing-tables-item pricing-tables--item-with-thumb auto-height" data-mh="pricing">
							<div class="pricing-thumb">
								<img src="svg-icons/rocket.svg" alt="rocket" class="icon-img">
								<img class="cloud" src="img/clouds8.png" alt="cloud">
							</div>

							<div class="main-pricing-content">
								<a href="#" class="h5 pricing-title">Freebie Plan</a>

								<p class="pricing-description">Free access to all features with dedicated support</p>

                                <ul class="pricing-tables-position pricing-list-margin">
                                    <li class="position-item">
                                        Try it Free for 14 days
                                    </li>
                                    <li class="position-item">
                                        Explore the whole system
                                    </li>
                                    <li class="position-item">
                                        No credit card required
                                    </li>
                                    <li class="position-item">
                                        Cancel anytime
                                    </li>
                                    <li class="position-item">
                                        Set up in minutes
                                    </li>
                                </ul>

								<a href="#" class="more-arrow">
									<span>Get Started</span>
									<div class="btn-next">
										<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
										<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
									</div>
								</a>
								<h2 class="h5 rate">$<span class="price">0</span></h2>
							</div>

						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-pricing-tables-item pricing-tables--item-with-thumb auto-height" data-mh="pricing">
							<div class="pricing-thumb">
								<img src="svg-icons/cup.svg" alt="cup" class="icon-img">
								<img class="cloud" src="img/clouds10.png" alt="cloud">
							</div>

							<div class="main-pricing-content">
								<a href="#" class="h5 pricing-title">Spark Plan</a>

								<p class="pricing-description">No annual payment, Flexible payment cycle</p>

                                <ul class="pricing-tables-position pricing-list-margin">
                                    <li class="position-item">
                                        Monthly fee per vehicle
                                    </li>
                                    <li class="position-item">
                                        Unlimited rider profiles
                                    </li>
                                    <li class="position-item">
                                        No set up costs
                                    </li>
                                    <li class="position-item">
                                        No contracts
                                    </li>
                                    <li class="position-item">
                                        24/7 support
                                    </li>
                                </ul>

								<a href="#" class="more-arrow">
									<span>Subscribe Now</span>
									<div class="btn-next">
										<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
										<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
									</div>
								</a>
								<h2 class="h5 rate">$<span class="price">20</span></h2>
							</div>

						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-pricing-tables-item pricing-tables--item-with-thumb auto-height" data-mh="pricing">
							<div class="pricing-thumb">
								<img src="svg-icons/shirt.svg" alt="shirt" class="icon-img">
								<img class="cloud" src="img/clouds10.png" alt="cloud">
							</div>

							<div class="main-pricing-content">
								<a href="#" class="h5 pricing-title">Enterprise Plan</a>

								<p class="pricing-description">Dedicated Hosting, No noisy neighbourhood & Support</p>

                                <ul class="pricing-tables-position pricing-list-margin">
                                    <li class="position-item">
                                        For large fleet sizes
                                    </li>
                                    <li class="position-item">
                                        Dedicated account manager
                                    </li>
                                    <li class="position-item">
                                        Hosting on dedicated/cloud server’s of your choice.
                                    </li>
                                    <li class="position-item">
                                        Customisation’s to meet your requirement’s.
                                    </li>
                                    <li class="position-item">
                                        Available Call-Center’s for dispatch.
                                    </li>
                                </ul>

								<a href="#" class="more-arrow">
									<span>Contact Us</span>
									<div class="btn-next">
										<svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
										<svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
