<section class="section-bg-skew medium-padding180">
    <div class="container">
        <div class="row">

            <!-- Icon First -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="info-box-image align-center">
                    <img class="utouch-icon product-img" src="svg-icons/smartphone.svg" alt="smartphone">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="info-box-content">
                    <h5 class="info-box-title">Passenger App</h5>
                    <p class="info-box-text">We offer white labelled passenger apps and its developed to suit every fleet. Offer your customers a fast, user friendly, intuitive booking experience.
                        <ul class="list list--primary">
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Improved automation of your business</li>
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Improved consumer relationships through functionality</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacer"></div>

            <!-- Text First -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="info-box-content">
                        <h5 class="info-box-title">Website Booking Engine</h5>
                        <p class="info-box-text">Completely branded and fully integrated with Rider & Driver App’s, easily adapted to your existing site or as a stand-alone webpage. Easy to use this as Kiosk App or POS or end user Booking Website.
                            <ul class="list list--primary">
                                <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>End-to-end automation and efficiency.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="info-box-image align-center">
                    <img class="utouch-icon product-img" src="svg-icons/smartphone.svg" alt="smartphone">
                </div>
            </div>

            <!-- Spacer -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacer"></div>

            <!-- Icon First -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="info-box-image align-center">
                    <img class="utouch-icon product-img" src="svg-icons/smartphone.svg" alt="smartphone">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="info-box-content">
                    <h5 class="info-box-title">Driver App</h5>
                    <p class="info-box-text">Everything drivers need to get the job done right
                        <ul class="list list--primary">
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Rating system to maintain customer experience and driver quality</li>
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>User-friendly and intuitive</li>
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>No hardware lock-in</li>
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Step-by-step navigation</li>
                        </ul>
                    </p>
                </div>
            </div>
    
                <!-- Spacer -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacer"></div>
    
                <!-- Text First -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="info-box-content">
                            <h5 class="info-box-title">Dispatch system</h5>
                            <p class="info-box-text">Track drivers in real time, fairly distribute jobs with all data available in realtime along with Zone Queue’s, earning for all driver etc.  Auto-complete addresses, job filters and much more means smooth dispatching.
                                <ul class="list list--primary">
                                    <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Business Management Tools</li>
                                    <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Manage and act on up real time business intelligence data.</li>
                                    <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>End-to-end automation and efficiency</li>
                                    <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Customer satisfaction with personal login</li>
                                </ul>
                            </p>
                            <a href="#" class="btn btn-border btn--with-shadow c-primary">
                                <div class="text">
                                    <span class="title">Book A Demo</span>
                                </div>
                            </a>
                        </div>
                    </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="info-box-image align-center">
                        <img class="utouch-icon product-img" src="svg-icons/smartphone.svg" alt="smartphone">
                    </div>
                </div>

                <!-- Spacer -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacer"></div>

            <!-- Icon First -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="info-box-image align-center">
                    <img class="utouch-icon product-img" src="svg-icons/smartphone.svg" alt="smartphone">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="info-box-content">
                    <h5 class="info-box-title">Security in the Cloud</h5>
                    <p class="info-box-text">Host your data on the world-leading Amazon Web Services (AWS) platform
                        <ul class="list list--primary">
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>World leading reliability and protection for reassurance</li>
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>Accessibility anywhere, anytime</li>
                            <li><svg class="utouch-icon utouch-icon-correct-symbol-1"><use xlink:href="#utouch-icon-correct-symbol-1"></use></svg>We’re open about our up-time, check it out</li>
                        </ul>
                    </p>
                </div>
            </div>

            <!-- Spacer -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacer"></div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">
                <h3>Like what you see? Book a no obligation free product demo!</h3>
                <a href="#" class="btn btn--primary btn--with-shadow">
                    <div class="text">
                        <span class="title">Book A Demo Now</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>