<section class="medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module crumina-heading align-center">
                    <h2 class="heading-title align-center">FAQs for Lyft/Uber Taxi App Development</h2>
                    <h6 class="heading-sup-title">Most of our clients worldwide have asked us these questions before hiring our Uber developers to develop their own taxi booking solution.</h6>
                </div>
                
                <!-- Content QNA FAQ-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                    <button class="accordionQNA">SAAS (Software as a Service) Platform Architecture</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Software as a service is a software licensing and delivery model in which we are issuing license on a subscription basis and is centrally hosted. Customer has full access to all of their data and mobile apps.</p>
                    </div>

                    <button class="accordionQNA">What’s White labelled with SaaS ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>In this model we re-skin both Driver App (iOS & Android ), User App (iOS & Android ) and Website ( User ) and upload this app’s on your account’s . Their backend’s are hosted with US how ever user’s who will download the app’s can see your logo’s and brand. There is no headache for maintenance as we take care of every thing.</p>
                    </div>

                    <button class="accordionQNA">What is 100% White labelled Model ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>In this model we hand over 100% source code and data( if you are our existing customer’s ) and deploy the same to your server’s. This suits best for companies who has large fleet’s and can afford to keep their development team’s.</p>
                    </div>

                    <button class="accordionQNA">Which model you should go for ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>If you are a small taxi company we advice you to go for normal SaaS model where you get Website ( with your brand and logo ) but hosted on your server . You get access to Driver app ( Voila Cab’s Brand ). You get access to Admin panel ( With your brand and logo ) where you manage every thing to get your business going. You get access to dispatcher panel’s ( Unlimited Dispatcher’s ) With your brand and logo. And you dispatch jobs manually to driver’s. This model has no set up cost and you pay for only number of driver’s every month. ( Min. 10 Driver’s )

                        If you are a large size taxi company and need User app as well then you should go for white-labelled with SaaS solution. Where we upload User App’s on your account with your brand’s and logo’s and your theme. Again with this model we take care of all your headache and all recurring cost and you need to pay us for only number of driver’s every month. ( Min. 10 Driver’s )
                        
                        If you are a development team and need full access to source code or want to move our of our SaaS model with your own set up, in this case we hand over complete source code and export data from our server to your server with on time installation support included.</p>
                    </div>

                    <button class="accordionQNA">What makes us better then our competitors ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Our product is Massively scalable, Rock Solid and Designed for high performance . Backend is coded with pure micro service architure also our App’s are coded with pure native for user’s to get great experience. Please request our architure page for backend design and technologies stack page for more details . We also request you to please check features page’s which explain all features in detail’s.</p>
                    </div>

                    <button class="accordionQNA">Who developed Voila Cabs?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Versatile team of total 15 Engineer’s, including Web developer’s, iOS Engineers, Android Engineers, Angular 6.0 developer’s, and equally contributed by our Designer’s and Tester’s for giving an amazing Aurora to an app. We have cross 3+ years developing this product and still on and working hard 🙂 to give our customer’s something better.</p>
                    </div>

                    <button class="accordionQNA">The system seems too advanced/too basic for what we’re looking ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>We have designed our system in such a way that its all in one fits for everyone, no matter you have 5 Taxi’s or 1M Taxi’s .We have friendly support available 24/7 to help train your staff and get you set up with ease!</p>
                    </div>

                    <button class="accordionQNA">I have small company, Will this system works for me ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Yes, Indeed we can help you on how to do effective dispatching to generate higher revenue and scale your business 3X time’s.</p>
                    </div>

                    <button class="accordionQNA">I have a large fleet. Will this system works for me ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Yes, It highly scalable and designed for large loads and scale easily from 1 driver to 1 Million drivers in fraction’s of seconds.</p>
                    </div>

                    <button class="accordionQNA">I just don’t have time for a new system and I’m not so good with technology.</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Voila Cab’s focuses on the Technologies stack so you don’t have to! We have friendly support available 24/7 to help you set up in minutes so you can experience dispatch made easy today.</p>
                    </div>

                    <button class="accordionQNA">Unfair app competition is hurting my business. How can Voila Cabs help?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Voila Cabs helps you stay competitive with tools your customers demand. Take back your business with your own passengers apps and online booking maps to promote your brand, your way.</p>
                    </div>

                    <button class="accordionQNA">I have another type of transport company. Can I still use Voila Cabs ?</button>
                    
                    <div class="panelQNA" style="padding-top: 15px;">
                        <p>Whether you have a limo,courier, van, private hire or car service, Voila Cabs puts you in the driver seat of your company. With custom vehicle types, you can set up your account to suite your needs.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordionQNA");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
            this.classList.toggle("activeQNA");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            } 
            });
        }
    </script>

</section>