<section class="crumina-module crumina-module-slider bg-4 cloud-center navigation-center-both-sides medium-padding100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <div class="swiper-container" data-effect="fade">
                    <div class="swiper-wrapper">
                        <div class="crumina-module crumina-testimonial-item testimonial-item-author-top swiper-slide">

                            <div class="testimonial-img-author" data-swiper-parallax="-100">
                                <img src="/img/author2.png" alt="avatar">
                            </div>

                            <h6 class="testimonial-text" data-swiper-parallax="-300">
                                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                                etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum parum claram.
                            </h6>

                            <div class="author-info-wrap" data-swiper-parallax="-100">

                                <div class="author-info">
                                    <a href="#" class="h6 author-name">{{ site.url }}</a>
                                    <div class="author-company">Student, 23 years old</div>
                                </div>

                            </div>
                        </div>

                        <div class="crumina-module crumina-testimonial-item testimonial-item-author-top swiper-slide">

                            <div class="testimonial-img-author" data-swiper-parallax="-100">
                                <img src="/img/author2.png" alt="avatar">
                            </div>

                            <h6 class="testimonial-text" data-swiper-parallax="-300">
                                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                                etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum parum claram.
                            </h6>

                            <div class="author-info-wrap" data-swiper-parallax="-100">

                                <div class="author-info">
                                    <a href="#" class="h6 author-name">Doe Simpson</a>
                                    <div class="author-company">Student, 23 years old</div>
                                </div>

                            </div>
                        </div>

                        <div class="crumina-module crumina-testimonial-item testimonial-item-author-top swiper-slide">

                            <div class="testimonial-img-author" data-swiper-parallax="-100">
                                <img src="/img/author2.png" alt="avatar">
                            </div>

                            <h6 class="testimonial-text" data-swiper-parallax="-300">
                                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                                etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum parum claram.
                            </h6>

                            <div class="author-info-wrap" data-swiper-parallax="-100">

                                <div class="author-info">
                                    <a href="#" class="h6 author-name">Doe Simpson</a>
                                    <div class="author-company">Student, 23 years old</div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Prev next buttons-->

    <div class="btn-prev">
        <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
            <use xlink:href="#utouch-icon-arrow-left-1"></use>
        </svg>
        <svg class="utouch-icon utouch-icon-arrow-left1">
            <use xlink:href="#utouch-icon-arrow-left1"></use>
        </svg>
    </div>

    <div class="btn-next">
        <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
            <use xlink:href="#utouch-icon-arrow-right-1"></use>
        </svg>
        <svg class="utouch-icon utouch-icon-arrow-right1">
            <use xlink:href="#utouch-icon-arrow-right1"></use>
        </svg>
    </div>
</section>