<section class="crumina-module crumina-module-slider background-contain bg-16 bg-blue-lighteen pt100">
    <div class="container">
        <div class="row">
            <div class="crumina-module crumina-module-img-bottom">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-bottom" src="img/man2.png" alt="man">
                </div>

                <div class="col-lg-8 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="crumina-module-img-content">
                                <div class="crumina-module crumina-heading">
                                    <h2 class="heading-title">What Our Customers Say about Voila Cabs</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="swiper-container top-navigation" data-show-items="1">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
                                                <div class="author-info-wrap">
                                                    <div class="author-info">
                                                        <a href="#" class="h6 author-name">Francesc Queralt</a>
                                                        <div class="author-company">Social Cars, Spain</div>
                                                    </div>
                                                </div>

                                                <h6 class="testimonial-text">
                                                    What surprised us after switching to Voila Cabs was how quickly we began to experience and benefit from increasing levels of automation. With additional B2B customer panel’s / POS system for account jobs, We regularly hit 80% automation now and the app is fantastic and very fast  – better than Uber. Francesc Queralt  , Social Cars , Spain.
                                                </h6>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
                                                <div class="author-info-wrap">
                                                    <div class="author-info">
                                                        <a href="#" class="h6 author-name">Ram</a>
                                                        <div class="author-company">QBR Cab, India</div>
                                                    </div>
                                                </div>

                                                <h6 class="testimonial-text">
                                                    When we switched over to VoilaCabs on 14 th Feb 2019 and since that day till date  the experience of using the entire system is phenomenal.  App is very fast, very-very fast. Dispatching algorithm works flawless and perfect.  As a result we’re busier and have grown from 200 to 900 drivers in the last four months.They all love the driver app, it makes their lives so much easier — We finally find the right technology partner
                                                </h6>

                                                <!-- <ul class="rait-stars">
                                                    <li>
                                                        <a href="#">
                                                            <svg class="utouch-icon utouch-icon-star">
                                                                <use xlink:href="#utouch-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="utouch-icon utouch-icon-star">
                                                                <use xlink:href="#utouch-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="utouch-icon utouch-icon-star">
                                                                <use xlink:href="#utouch-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="utouch-icon utouch-icon-star">
                                                                <use xlink:href="#utouch-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="utouch-icon utouch-icon-star">
                                                                <use xlink:href="#utouch-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul> -->

                                            </div>

                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-4 col-sm-12">
                                            <div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
                                                <div class="author-info-wrap">
                                                    <div class="author-info">
                                                        <a href="#" class="h6 author-name">Anand Gupta</a>
                                                        <div class="author-company">Krisp Cab's, India</div>
                                                    </div>
                                                </div>

                                                <h6 class="testimonial-text">
                                                    Voila Cabs platform is fast, flexible and easy to use, allowing us to focus on solving real problems. Above all, customer satisfaction levels are up. Voila Cab's has a great solution for Rider, Drivers, Dispatcher's, Accountant's &     for Admin's. Perfect all is one classic tool. I wish I made the move sooner!
                                                </h6>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!--Prev next buttons-->

                                <div class="btn-slider-wrap navigation-top-right">

                                    <div class="btn-prev">
                                        <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
                                            <use xlink:href="#utouch-icon-arrow-left-1"></use>
                                        </svg>
                                        <svg class="utouch-icon utouch-icon-arrow-left1">
                                            <use xlink:href="#utouch-icon-arrow-left1"></use>
                                        </svg>
                                    </div>

                                    <div class="btn-next">
                                        <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                                            <use xlink:href="#utouch-icon-arrow-right-1"></use>
                                        </svg>
                                        <svg class="utouch-icon utouch-icon-arrow-right1">
                                            <use xlink:href="#utouch-icon-arrow-right1"></use>
                                        </svg>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>