<script src="{{ site.main-url }}/js/jquery-3.3.1.js"></script>

<script src="{{ site.main-url }}/js/js-plugins/ajax-pagination.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/jquery.countdown.min.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/timer.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/crum-mega-menu.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/swiper.jquery.min.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/jquery.typeahead.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/velocity.min.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/form-actions.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/waypoints.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/jquery-countTo.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/jquery.nice-select.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/imagesLoaded.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/jquery.magnific-popup.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/jquery.matchHeight.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/Headroom.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/smooth-scroll.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/segment.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/bootstrap.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/moment.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/moment-timezone.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/isotope.pkgd.min.js"></script>
<script src="{{ site.main-url }}/js/js-plugins/ion.rangeSlider.js"></script>

<script src="{{ site.main-url }}/js/main.js"></script>
<script src="{{ site.main-url }}/js/custom.js"></script>