<section class="bg-primary-color background-contain bg-14 crumina-module crumina-module-subscribe-form">
    <div class="container">
        <div class="row">
            <div class="subscribe-form">
                <div class="subscribe-main-content">
                    <img class="subscribe-img" src="/img/subscribe-img.png" alt="image">

                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h2 class="heading-title">Love offers and discounts? Subscribe and save.</h2>
                            <p class="heading-text">Claritas est etiam processus dynamicus, qui sequitur mutationem
                                consuetudium lectorum putamus claram.
                            </p>
                        </div>

                        <form class="form-inline subscribe-form-js" method="post" action="import.php">
                            <input name="email" placeholder="Enter your email address" type="email">
                            <button class="btn btn--green-light">
                                Subscribe
                            </button>
                        </form>
                    </div>

                </div>
                <div class="subscribe-layer"></div>
            </div>
        </div>
    </div>
</section>