<section class="medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h2 class="heading-title align-center">The Technology Stack Behind Uber-like</h2>
                </div>

                <!-- Content -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                    <!-- Platform -->
                    <div class="box">
                        <table>
                            <tr class="main">
                            <th>Platform</th>
                            <th>iOS</th>
                            <th>Android</th>
                            </tr>
                            <tr>
                            <td>Programming Language</td>
                            <td>Objective-C & Swift</td>
                            <td>Java & Kotlin</td>
                            </tr>
                            <tr>
                            <td>IDE</td>
                            <td>Xcode</td>
                            <td>Android Studio</td>
                            </tr>
                        </table>
                    </div>

                    <!-- Designing -->
                    <div class="box">
                        <table>
                            <tr class="main">
                            <th>Designing Specifications</th>
                            <th></th>
                            </tr>
                            <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Germany</td>
                            </tr>
                            <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Mexico</td>
                            </tr>
                        </table>
                    </div>

                    <!-- Back end system -->
                    <div class="box">
                        <table>
                            <tr class="main">
                            <th>Designing Specifications</th>
                            <th></th>
                            </tr>
                            <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Germany</td>
                            </tr>
                            <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Mexico</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
             
            </div>
        </div>
    </div>
</section>