<section class="bg-blue-lighteen medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h2 class="heading-title align-center">Admin Panel</h2>
                </div>

                <img src="/img/device-vid-admin.png" alt="">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="info-boxes">
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="svg-icons/settings%20(4).svg" alt="library">
                                        <h6 class="info-box-title">Quick Settings</h6>
                                    </div>
                                    <p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui.</p>
                                </div>
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="svg-icons/smartphone.svg" alt="library">
                                        <h6 class="info-box-title">Multimedia Archives</h6>
                                    </div>
                                    <p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="svg-icons/music%20(1).svg" alt="library">
                                        <h6 class="info-box-title">Multimedia Archives</h6>
                                    </div>
                                    <p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                </div>
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="svg-icons/alarm.svg" alt="library">
                                        <h6 class="info-box-title">Push Notifications</h6>
                                    </div>
                                    <p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="svg-icons/music%20(1).svg" alt="library">
                                        <h6 class="info-box-title">Multimedia Archives</h6>
                                    </div>
                                    <p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                </div>
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="icon-small" src="svg-icons/alarm.svg" alt="library">
                                        <h6 class="info-box-title">Push Notifications</h6>
                                    </div>
                                    <p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>