<section class="medium-padding120">
    <div class="container align-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-heading">
                        <h2 class="heading-title">Apps</h2>
                    <h6 class="heading-sup-title">We have Developed These Features for Different Taxi Booking App Solutions</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="conference-details">
                    <ul class="align-center conference-details-control tabs-with-line" role="tablist">

                        <li role="presentation" class="tab-control active">
                            <a href="#user" role="tab" data-toggle="tab" class="control-item">User</a>
                        </li>

                        <li role="presentation" class="tab-control">
                            <a href="#driver" role="tab" data-toggle="tab" class="control-item">Driver</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="user">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section class="smedium-padding100">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <h3>Thake a Tour</h3>
                                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est
                                                    notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis.
                                                </p>
                                                <div class="row">
                                                    <div class="info-boxes">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/settings%20(4).svg" alt="library">
                                                                    <h6 class="info-box-title">Quick Settings</h6>
                                                                </div>
                                                                <p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/smartphone.svg" alt="library">
                                                                    <h6 class="info-box-title">Multimedia Archives</h6>
                                                                </div>
                                                                <p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/music%20(1).svg" alt="library">
                                                                    <h6 class="info-box-title">Multimedia Archives</h6>
                                                                </div>
                                                                <p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/alarm.svg" alt="library">
                                                                    <h6 class="info-box-title">Push Notifications</h6>
                                                                </div>
                                                                <p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-5 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 align-center">
                                                <img class="h-600" src="img/Daily.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="driver">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section class="smedium-padding100">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <h3>Thake a Tour</h3>
                                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est
                                                    notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis.
                                                </p>
                                                <div class="row">
                                                    <div class="info-boxes">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/settings%20(4).svg" alt="library">
                                                                    <h6 class="info-box-title">Quick Settings</h6>
                                                                </div>
                                                                <p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/smartphone.svg" alt="library">
                                                                    <h6 class="info-box-title">Multimedia Archives</h6>
                                                                </div>
                                                                <p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/music%20(1).svg" alt="library">
                                                                    <h6 class="info-box-title">Multimedia Archives</h6>
                                                                </div>
                                                                <p class="info-box-text">Sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <img class="icon-small" src="svg-icons/alarm.svg" alt="library">
                                                                    <h6 class="info-box-title">Push Notifications</h6>
                                                                </div>
                                                                <p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation qui.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-5 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 align-center">
                                                <img class="h-600" src="img/Daily.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>