<section class="medium-padding120">
    <div class="container align-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-heading">
                        <h2 class="heading-title">Apps</h2>
                    <h6 class="heading-sup-title">We have Developed These Features for Different Taxi Booking App Solutions</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="conference-details">
                    <ul class="align-center conference-details-control tabs-with-line" role="tablist">

                        <li role="presentation" class="tab-control active">
                            <a href="#user" role="tab" data-toggle="tab" class="control-item">User</a>
                        </li>

                        <li role="presentation" class="tab-control">
                            <a href="#driver" role="tab" data-toggle="tab" class="control-item">Driver</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="user">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section class="smedium-padding100">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <h3>Take a Tour</h3>
                                                <p>Mobile App for Riders, One tap booking and tracking their ride’s in real-time.</p>
                                                <div class="row">
                                                    <div class="info-boxes">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/settings%20(4).svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Ride Now and Later</h6>
                                                                </div>
                                                                <p class="info-box-text">Option to schedule your rides for now and also in advance with intuitive booking interface.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/smartphone.svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Surge Pricing</h6>
                                                                </div>
                                                                <p class="info-box-text">Our unique algorithm designed to surge the price automatically considering driver’s availability
                                                                    for certain areas. ( Demand vs Supply Management ).</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/music%20(1).svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Restricted Area’s</h6>
                                                                </div>
                                                                <p class="info-box-text">A system is designed to restrict bookings for certain area’s which are controlled from a
                                                                    backend.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/alarm.svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Wallet Integration</h6>
                                                                </div>
                                                                <p class="info-box-text">Amazingly Intuitive Wallet design for easy payment integration and supported cash and card
                                                                    transactions with an option to view everything with nice UI/UX.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-5 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 align-center">
                                                <img class="h-600" src="img/Daily.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="driver">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section class="smedium-padding100">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <h3>Take a Tour</h3>
                                                <p>Mobile App for Driver’s, Single app that suites all drivers need to get a job done right.</p>
                                                <div class="row">
                                                    <div class="info-boxes">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/settings%20(4).svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Clean UI/UX</h6>
                                                                </div>
                                                                <p class="info-box-text">International standards, a slick interactive interface which make interaction experience unique
                                                                    compared to our competitors.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/smartphone.svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Efficient Tracking</h6>
                                                                </div>
                                                                <p class="info-box-text">Designed for efficient tracking using Kalman Filters and Gyro API.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/music%20(1).svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Uniquely designed algorithms</h6>
                                                                </div>
                                                                <p class="info-box-text">Assigned job’s to driver’s automatically using our custom algorithm.</p>
                                                            </div>
                                                            <div class="crumina-module crumina-info-box info-box--standard">
                                                                <div class="info-box-image display-flex">
                                                                    <!-- <img class="icon-small" src="svg-icons/alarm.svg" alt="library"> -->
                                                                    <h6 class="info-box-title">Wallet Integration</h6>
                                                                </div>
                                                                <p class="info-box-text">Amazingly Intuitive Wallet design for easy payment integration and supported cash and card
                                                                    transactions with an option to view everything with nice UI/UX.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-5 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 align-center">
                                                <img class="h-600" src="img/Daily.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>