<section class="bg-8 background-contain pt100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-heading">
						<h6 class="heading-sup-title">Watch the video</h6>
						<h2 class="heading-title">How the <span class="c-primary">Utouch</span> works</h2>
						<p class="heading-text">Claritas est etiam processus dynamicus, qui sequitur mutationem
							consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
							anteposuerit litterarum formas humanitatis per.
						</p>
					</div>
					<a href="02_company.html" class="btn btn-small btn--icon-right btn-border btn--with-shadow c-primary">
						<svg class="utouch-icon utouch-icon-arrow-right1">
							<use xlink:href="#utouch-icon-arrow-right1"></use>
						</svg>
						<div class="text">
							<span class="title">Get Started Now</span>
						</div>
					</a>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-our-video">
						<div class="video-thumb">
							<img src="/img/video-thumb.png" alt="video">
							<a href="https://www.youtube.com/watch?v=wnJ6LuUFpMo" class="video-control js-popup-iframe">
								<img src="/img/play.png" alt="play">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>