<section class="medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module align-center crumina-heading">
                    <h2 class="heading-title">Voila for X</h2>
                    <h6 class="heading-sup-title">Voila for ‘X’, where X could be any on-demand service you can think of. Whether its on-demand taxi or package delivery, we have built Uber like apps for almost all the categories. Yes, that’s right. We take pride in having developed Voila for Business apps of various categories. There is much more in the store, you may have a look at some of our achievements.</h6>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="info-boxes">
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                
                                
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="/img/shipped.png" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Voila for Delivery</a>
                                        <p class="info-box-text">We have already developed Voila for delivery app called Ninja Delivery for one of our clients. The app allows people to send any kind of packages to their desired location.</p>
                                    </div>
        
                                </div>


                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="/img/dinner.png" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Voila for Food</a>
                                        <p class="info-box-text">Voila for food delivery apps like Postmates and DoorDash are especially for food delivery from different restaurants. Browse local restaurants, dishes from those restaurants, order food and pay directly from the app and get it delivered to the doorstep.</p>
                                    </div>
        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="/img/webinar.png" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Voila for Tutoring</a>
                                        <p class="info-box-text">With the experience of Uber-like app development, our team also tried its hands on Voila for tutoring app for private coaching classes. Including features like video session, live chat, easy scheduling, in-app payment, we developed a right Voila for the tutor’s app like scholarly.</p>
                                    </div>
        
                                </div>
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="/img/baby.png" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Voila for Kids</a>
                                        <p class="info-box-text">With the growing number of kid-focused ride-sharing services, we have also developed Voila for kids solution for one of our clients. The app is especially for kids to give them a safe and easy riding experience.</p>
                                    </div>
        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="/img/camera.png" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Voila for Photographer</a>
                                        <p class="info-box-text">We change the way people hire a photographer. With the experience of developing Voila for Photographer app solution, we make any type of on-demand photographer solution with requisite features.</p>
                                    </div>
        
                                </div>
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="/img/doctor.png" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Voila for Doctors</a>
                                        <p class="info-box-text">As doctors find it difficult to stay connected with their patients, Voila for Doctors is the right solution that eliminates the gap between doctors and patients through live chat option, instant appointments and guidance.</p>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>