<section class="medium-padding120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="crumina-module align-center crumina-heading">
                    <h2 class="heading-title">Voila for X</h2>
                    <h6 class="heading-sup-title">Uber for ‘X’, where X could be any on-demand service you can think of. Whether its on-demand taxi or package delivery, we have built Uber like apps for almost all the categories. Yes, that’s right. We take pride in having developed Uber for Business apps of various categories. There is much more in the store, you may have a look at some of our achievements.</h6>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="info-boxes">
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                
                                
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="svg-icons/smartphone.svg" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Online Shopping</a>
                                        <p class="info-box-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam.
                                        </p>
                                    </div>
        
                                </div>


                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="svg-icons/smartphone.svg" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Online Shopping</a>
                                        <p class="info-box-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam.
                                        </p>
                                    </div>
        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="svg-icons/smartphone.svg" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Online Shopping</a>
                                        <p class="info-box-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam.
                                        </p>
                                    </div>
        
                                </div>
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="svg-icons/smartphone.svg" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Online Shopping</a>
                                        <p class="info-box-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam.
                                        </p>
                                    </div>
        
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="svg-icons/smartphone.svg" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Online Shopping</a>
                                        <p class="info-box-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam.
                                        </p>
                                    </div>
        
                                </div>
                                <div class="crumina-module crumina-info-box info-box--standard-hover shadow-radius-15">

                                    <div class="info-box-image">
                                        <img class="utouch-icon" src="svg-icons/smartphone.svg" alt="smartphone">
                                        <img class="cloud" src="img/clouds8.png" alt="cloud">
                                    </div>
        
                                    <div class="info-box-content">
                                        <a href="#" class="h5 info-box-title">Online Shopping</a>
                                        <p class="info-box-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam.
                                        </p>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>